* {
	box-sizing: border-box;
}

body{
   
    width: 100%;
    margin: auto;
    padding: 0;

}

h1, h2{
    text-align: center;
    font-weight: bold;
}
.dollars{
    
    border: 2px solid gray;
    background-color: rgb(234, 231, 231);
    
    
  
  

}
.montant{
    text-align: center;
    
    
    
   
    
    
   
}
.Wrapper{
    text-align: center;
  
   
}

#Tip {
    -webkit-appearance: none;
    width: 80%;
    margin: 2rem 0;
    height: 10px;
    background: gray;
    border-radius: 3px;
    }
    #Tip::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid gray;
    background: white;
    cursor: pointer;
    }

    .montant-tip, .montant-total{
        text-align: center;
        

    }

    label, input {
		display: inline-block;
		
	}

    #percentage-output, #totalbill, #tipamount{
        background-color:   rgb(234, 231, 231);
        border: 2px solid rgb(234, 231, 231);
        width: 50px;

    }


